<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table table-striped table-bordered table-hover" style="text-align: center;">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">
                            <div class="d-grid gap-2">
                                <button type="button" (click)="onResetAll()" class="btn btn-outline-danger btn-sm"> <svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                        <path
                                            d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                                        <path fill-rule="evenodd"
                                            d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
                                    </svg>
                                    Reset All
                                </button>
                            </div>
                        </th>
                        <th *ngFor="let item of data; let i = index;" scope="col" colspan="2">
                            <app-slider [data]="data[i]" [index]="i" (calcData)="onBranchData($event)"></app-slider>
                        </th>
                        <th scope="col" colspan="3">
                            <!-- <div>
                                <p>Variance ({{variance | format}})</p>
                                <p>Variance Percent ({{percentage | percent }})</p>
                            </div> -->
                        </th>
                    </tr>
                </thead>
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Branch Name</th>
                        <th *ngFor="let item of data; let i = index;" scope="col" colspan="2">{{data[i].branchName}}
                        </th>
                        <th scope="col" colspan="3">Grand Total</th>
                    </tr>
                </thead>
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Actual VS Change</th>

                        <ng-container *ngFor="let item of data; let i = index;">
                            <th scope="col">Current F.Y</th>
                            <th scope="col">Scenario</th>
                        </ng-container>

                        <th scope="col">Current F.Y</th>
                        <th scope="col">Scenario</th>
                        <th scope="col">Variance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Revenue</th>

                        <ng-container *ngFor="let item of data; let i = index;">
                            <td>{{data[i].revenue! | format}}</td>
                            <td [ngClass]="{'table-default': cellClassDefault(i, 'revenue'),
                                        'table-success': cellClassSuccess(i, 'revenue'),
                                        'table-danger': cellClassDanger(i, 'revenue')}">
                                {{tempData[i].revenue! | format}}
                            </td>
                        </ng-container>

                        <td>{{total.revenue! | format}}</td>
                        <td [ngClass]="{'table-default': tempTotal.revenue! == total.revenue!,
                        'table-success': tempTotal.revenue! > total.revenue!,
                        'table-danger': tempTotal.revenue! < total.revenue!}">
                            {{tempTotal.revenue! | format}}</td>
                        <td [class]="varCellClass(totalVariance.revenue!)">{{totalVariance.revenue! | percent}}</td>

                    </tr>
                    <tr>
                        <th scope="row">COGS</th>

                        <ng-container *ngFor="let item of data; let i = index;">
                            <td>{{data[i].cogs! | format}}</td>
                            <td [ngClass]="{'table-default': cellClassDefault(i, 'cogs'),
                                    'table-success': cellClassSuccess(i, 'cogs'),
                                    'table-danger': cellClassDanger(i, 'cogs')}">
                                {{tempData[i].cogs! | format}}
                            </td>
                        </ng-container>

                        <td>{{total.cogs! | format}}</td>
                        <td [ngClass]="{'table-default': tempTotal.cogs! == total.cogs!,
                                    'table-success': tempTotal.cogs! > total.cogs!,
                                    'table-danger': tempTotal.cogs! < total.cogs!}">
                            {{tempTotal.cogs! | format}}</td>
                        <td [class]="varCellClass(totalVariance.cogs!)">{{totalVariance.cogs! | percent}}</td>
                    </tr>
                    <tr>
                        <th scope="row">GP</th>

                        <ng-container *ngFor="let item of data; let i = index;">
                            <td>{{data[i].gp! | format}}</td>
                            <td [ngClass]="{'table-default': cellClassDefault(i, 'gp'),
                                    'table-success': cellClassSuccess(i, 'gp'),
                                    'table-danger': cellClassDanger(i, 'gp')}">
                                {{tempData[i].gp! | format}}
                            </td>
                        </ng-container>

                        <td>{{total.gp! | format}}</td>
                        <td [ngClass]="{'table-default': tempTotal.gp! == total.gp!,
                                    'table-success': tempTotal.gp! > total.gp!,
                                    'table-danger': tempTotal.gp! < total.gp!}">
                            {{tempTotal.gp! | format}}</td>
                        <td [class]="varCellClass(totalVariance.gp!)">{{totalVariance.gp! | percent}}</td>
                    </tr>
                    <tr>
                        <th scope="row">GP %</th>

                        <ng-container *ngFor="let item of data; let i = index;">
                            <td>{{data[i].gpPer! | percent}}</td>
                            <td [ngClass]="{'table-default': cellClassDefault(i, 'gpPer'),
                                    'table-success': cellClassSuccess(i, 'gpPer'),
                                    'table-danger': cellClassDanger(i, 'gpPer')}">
                                {{tempData[i].gpPer! | percent}}
                            </td>
                        </ng-container>

                        <td>{{total.gpPer! | percent}}</td>
                        <td [ngClass]="{'table-default': tempTotal.gpPer! == total.gpPer!,
                                    'table-success': tempTotal.gpPer! > total.gpPer!,
                                    'table-danger': tempTotal.gpPer! < total.gpPer!}">
                            {{tempTotal.gpPer! | percent}}</td>
                        <td [class]="varCellClass(totalVariance.gpPer!)">{{totalVariance.gpPer! | percent}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Total Cost</th>

                        <ng-container *ngFor="let item of data; let i = index;">
                            <td>{{data[i].totalCost! | format}}</td>
                            <td [ngClass]="{'table-default': cellClassDefault(i, 'totalCost'),
                                    'table-success': cellClassSuccess(i, 'totalCost'),
                                    'table-danger': cellClassDanger(i, 'totalCost')}">
                                {{tempData[i].totalCost! | format}}
                            </td>
                        </ng-container>

                        <td>{{total.totalCost! | format}}</td>
                        <td [ngClass]="{'table-default': tempTotal.totalCost! == total.totalCost!,
                                    'table-success': tempTotal.totalCost! > total.totalCost!,
                                    'table-danger': tempTotal.totalCost! < total.totalCost!}">
                            {{tempTotal.totalCost! | format}}</td>
                        <td [class]="varCellClass(totalVariance.totalCost!)">{{totalVariance.totalCost! | percent}}</td>
                    </tr>
                    <tr>
                        <th scope="row">NP</th>

                        <ng-container *ngFor="let item of data; let i = index;">
                            <td>{{data[i].np! | format}}</td>
                            <td [ngClass]="{'table-default': cellClassDefault(i, 'np'),
                                    'table-success': cellClassSuccess(i, 'np'),
                                    'table-danger': cellClassDanger(i, 'np')}">
                                {{tempData[i].np! | format}}
                            </td>
                        </ng-container>

                        <td>{{total.np! | format}}</td>
                        <td [ngClass]="{'table-default': tempTotal.np! == total.np!,
                                    'table-success': tempTotal.np! > total.np!,
                                    'table-danger': tempTotal.np! < total.np!}">
                            {{tempTotal.np! | format}}
                        </td>
                        <td [class]="varCellClass(totalVariance.np!)">{{totalVariance.np! | percent}}</td>
                    </tr>
                    <tr>
                        <th scope="row">NP %</th>

                        <ng-container *ngFor="let item of data; let i = index;">
                            <td>{{data[i].npPer! | percent}}</td>
                            <td [ngClass]="{'table-default': cellClassDefault(i, 'npPer'),
                                    'table-success': cellClassSuccess(i, 'npPer'),
                                    'table-danger': cellClassDanger(i, 'npPer')}">
                                {{tempData[i].npPer! | percent}}
                            </td>
                        </ng-container>

                        <td>{{total.npPer! | percent}}</td>
                        <td [ngClass]="{'table-default': tempTotal.npPer! == total.npPer!,
                                    'table-success': tempTotal.npPer! > total.npPer!,
                                    'table-danger': tempTotal.npPer! < total.npPer!}">
                            {{tempTotal.npPer! | percent}}
                        </td>
                        <td [class]="varCellClass(totalVariance.npPer!)">{{totalVariance.npPer! | percent}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>