body::-webkit-scrollbar { 
    display: none; 
    margin-bottom: -50px;

}
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: grey; 
}

.tableSlider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.quantity, .price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-responsive{
    border-radius: 15px;
    border: 1px solid lightgray;
}