.tableSlider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.quantity, .price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
}

:host ::ng-deep .mat-slider-thumb {
    background-color: #dc3545;
  }
