<div class="tableSlider">
    <div class="reset">
        <div class="d-grid gap-2">
            <button type="button" (click)="onReset()" class="btn btn-outline-danger btn-sm"> <svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                <path
                    d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
                <path fill-rule="evenodd"
                    d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
            </svg>
            Reset
        </button>
        </div>
    </div>
    <br>
    <div class="slider">
        <div class="quantity">
            <label>Quantity ({{qntSlider}}%) </label>
            <mat-slider [displayWith]="formatLabel" tickInterval="1" min="-30"
                max="30" step="1" (input)="calcQntyOnChange($event.value)"
                [value]="qntSlider">
            </mat-slider>
        </div>
        <div class="price">
            <label>Price ({{priceSlider}}%) </label>
            <mat-slider [displayWith]="formatLabel" tickInterval="1" min="-30"
                max="30" step="1" (input)="calcPriceOnChange($event.value)"
                [value]="priceSlider">
            </mat-slider>
        </div>
    </div>
</div>